@import url("bootstrap.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root{
    --bg0 : #e2e8f0;
    --bg1 : #f1f5f9;
    --cl0 : #3b82f6;
    --cl1 : #ca2540;
    --cl2 : #334155;
    --cl3 : #94a3b8;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg0);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--cl2);
    border-radius: 40px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--cl3);
}


.bg0{ background-color: var(--bg0); }
.bg1{ background-color: var(--bg1); }
.btn1, .btn2, .btn3{
    text-decoration: none;
    text-align: center;
    border: none;
}
.btn1{
    background-color: var(--cl2); 
    color: var(--bg0);
}
.btn2{  
    background-color: var(--bg0); 
    color: var(--cl2);
}
.btn3{  
    background-color: transparent; 
    color: var(--cl3);
}

.btn1:hover{
    color: var(--cl2); 
    background-color: var(--bg0);
}
.btn2:hover{  
    box-shadow: 15px 15px 10px rgba(50, 50, 51, 0.3);
    color: var(--cl2);
}
.btn3:hover{  
    color: var(--cl2);
}
.cl0{ color: var(--cl0); }
.cl1{ color: var(--cl1); }
.fc1{color: var(--cl2);}
.fc2{color: var(--cl3);}


.f700{ font-family: 'Nunito', sans-serif; letter-spacing: 0.08em; font-weight: 700; }
.f800{ font-family: 'Nunito', sans-serif; letter-spacing: 0.08em; font-weight: 800; }

.shdw, .btn1 { box-shadow: 15px 15px 10px rgba(50, 50, 51, 0.3); }
.lt0{letter-spacing: 0;}

.r20{border-radius: 20px;}
.r40{border-radius: 40px;}

body {
    margin: 20px;
}

.clamp1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
.clamp3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
